<div class="col-3">
  <div class="span-1">
    <input ng-model="searchText" placeholder="Search...">
    <div class="filters">
      <h3>Order by</h3>
      <a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</a>
      <a href="" ng-click="orderByField='birth_year'; reverseSort = !reverseSort">Birth Year</a>
      <a href="" ng-click="orderByField='height'; reverseSort = !reverseSort">Height</a>
      <a href="" ng-click="orderByField='mass'; reverseSort = !reverseSort">Mass</a>
    </div>
  </div>
  <div class="span-2">
    <div ng-repeat="p in people | filter:searchText | orderBy:orderByField" >
      <a href="#/people/{{ $index }}" class="card small">
        <h1>{{ p.name }}</h1>
        <p>Birth Year: {{ p.birth_year }}</p>
        <p>Height: {{ p.height }}</p>
        <p>Mass: {{ p.mass }}</p>
      </a>
    </div>
  </div>
</div>